# Lines starting with '#' are considered comments.

# Ignore (generated) eclipse project files files, and maven build files
.project
.settings/
.classpath
target/
# except foo.html which is maintained by hand.

# Ignore objects and archives.
*.[oa]