# Lines starting with '#' are considered comments.

# Ignore (generated) eclipse project files files, and maven build files
.project
.settings/
.classpath
target/
~$*

#ignore backup files created by editors
*.bak

# Ignore objects and archives.
*.[oa]