<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Below wildcard approach may work but, identification of actual resources 
		getting loaded at runtime will be difficult, so each config file must be 
		explicitly specified -->
	<!-- <import resource="classpath*:conf/spring/**/*Context.xml" /> -->

	<!-- From Core Impl module -->
	<import resource="classpath*:conf/spring/coreImplContext.xml" />

	<!-- From Core module -->
	<import resource="classpath*:conf/spring/coreContext.xml" />

</beans>
